/Pertemuan7/Praktikum7/nbproject/private/
/Pertemuan7/nbproject/private/
/Pertemuan7/build/
/Pertemuan9/nbproject/private/
/Pertemuan9/dist/
/Pertemuan9/build/
/Pertemuan10/nbproject/private/
/Pertemuan10/build/
/jdbc_mhs_service/nbproject/private/
/jdbc_mhs_service/build/
/jdbc_mhs_service/dist/
/Pertemuan10/Pertemuan10/build/
/Pertemuan10/Pertemuan10/nbproject/private/
/Pertemuan10/jdbc_mhs_service_GUI/nbproject/private/
/Pertemuan10/Proyek4/nbproject/private/
/Pertemuan10/Proyek4/build/
/Pertemuan10/jdbc_mhs_service_GUI/build/
/Pertemuan10/jdbc_mhs_service_GUI/dist/
